/Bartlett.class
/Blackman.class
/BlackmanHarris.class
/BlackmanNuttall.class
/Cosine.class
/FlatTop.class
/Hamming.class
/Hann.class
/None.class
/Nuttall.class
/Parzen.class
/Rectangular.class
/Triangular.class
/Welch.class
/WindowContext.class
/WindowInterface.class
